<div class="contenedor-tabla">

    <body>
        <mat-tab-group animationDuration="1000ms">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon"><img src="https://www.svgrepo.com/show/17679/user.svg" />
                    </mat-icon>
                    <span class="ver">Ver Movimientos</span>
                </ng-template>
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">


                    <ng-container matColumnDef="id_movim">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> N° </th>
                        <td mat-cell *matCellDef="let element"> {{element.id_movim}} </td>
                    </ng-container>


                    <ng-container matColumnDef="fecha_movim">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Fecha </th>
                        <td mat-cell *matCellDef="let element"> {{element.fecha_movim}} </td>
                    </ng-container>


                    <ng-container matColumnDef="num_pago">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Número de
                            pago </th>
                        <td mat-cell *matCellDef="let element"> {{element.num_pago}} </td>
                    </ng-container>


                    <ng-container matColumnDef="cantidad_movim">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Cantidad
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.cantidad_movim}} </td>
                    </ng-container>

                    <ng-container matColumnDef="total_movim">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Total </th>
                        <td mat-cell *matCellDef="let element"> {{element.total_movim | currency: ' COP '}} </td>
                    </ng-container>

                    <ng-container matColumnDef="notas_info">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Notas
                            Informacion </th>
                        <td mat-cell *matCellDef="let element"> {{element.notas_info}} </td>
                    </ng-container>

                    <ng-container matColumnDef="notas_concepto">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Notas
                            Concepto</th>
                        <td mat-cell *matCellDef="let element"> {{element.notas_concepto}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_benef">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable">
                            Beneficiario </th>
                        <td mat-cell *matCellDef="let element"> {{getBenef(element.id_benef)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_pago">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Método de
                            Pago</th>
                        <td mat-cell *matCellDef="let element"> {{getMetodoPago(element.id_pago)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_concepto">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Concepto
                        </th>
                        <td mat-cell *matCellDef="let element"> {{getConcepto(element.id_concepto)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_cuenta">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Cuenta
                        </th>
                        <td mat-cell *matCellDef="let element"> {{getCuenta(element.id_cuenta)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_impuesto">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Impuesto
                        </th>
                        <td mat-cell *matCellDef="let element"> {{getImpuesto(element.id_impuesto)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_retencion">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Retencion
                        </th>
                        <td mat-cell *matCellDef="let element"> {{getRetencion(element.id_retencion)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="id_tipo_mov">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Tipo </th>
                        <td mat-cell *matCellDef="let element"> {{tipo(element.id_tipo_mov)}} </td>
                    </ng-container>

                    <ng-container matColumnDef="acciones">
                        <th mat-header-cell *matHeaderCellDef style="text-align: center;" class="nameTable"> Acción
                        </th>

                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </mat-tab>

        </mat-tab-group>
        <div>
            <button class="botones boton">
                <span> <a class="volver">
                        <input type="button" value="Generar un PDF" (click)="generarPDF()">
                    </a> </span>
            </button>
        </div>
        <div>
            <button class="botones boton">
                <mat-icon><img src="https://www.svgrepo.com/show/33860/list.svg"> </mat-icon>
                <span><a class="volver" href="http://localhost:4200/admin">Volver al Menu</a></span>
            </button>
        </div>
    </body>