table {
  width: 100%;
  margin-top: 10px;

}

.tabla{
  padding-top: 2rem;
  text-align: center;
}

button{
  margin-left: 10px;
  margin-top: 10px;
  margin: 8px 8px 8px 0;

}

th {
  width: 10px;
  text-align: right;
}

th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

.pointer {
  cursor: pointer;
}
.navcolor {
  color: black;
  font-family: "Krub", sans-serif;
  font-size: medium;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.example-tab-icon {
  margin-right: 10px;
}


.header{
  text-align: center;
  font-family: "PT Sans", sans-serif;
  font-size: 5.8rem;
  color:white;
  font-weight: bold;
  background-color: #1199AF;
  border: 4px solid black;
  max-width: 100%;
}
  